button {
  background: transparent;
  border: 2px solid white;
  width: fit-content;
  color: white;
  font-size: 0.7em;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 14px 20px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

button:hover {
  color: black;
  background-color: white;
}

#sendMsg {
  background: black;
  color: white;
  border-radius: 10%;
}
