#slider {
  background: white;
  box-shadow: -1px 0px 10px black;
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 75%;
  /* opacity: 0.7; */
}

#slider_header {
  display: flex;
  text-align: center;
}

#slider_header h3 {
  width: 75%;
}

#close_slider {
  width: 25%;
  cursor: pointer;
}

#close_slider i {
  transform: translateY(45%);
}

#hr {
  height: 1px;
  background-color: grey;
  opacity: 0.3;
  align-self: center;
  margin: 0 10%;
}
