#navbar {
  background-color: #333;
  border-radius: 5px;
}

#navbar ul {
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#navbar li {
  float: left;
  background-color: #333;
}

#navbar li a {
  display: block;
  padding: 8px;
  color: white;
  text-decoration: none;
}

#navbar li:hover {
  background-color: gray;
}

/* .profile-pic1 {
  height: 100%;
  width: 25px;
  border-radius: 30px;
} */
